{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    {{form_start(userform)}}
        {{form_widget(userform)}}
        <button>S'inscrire</button>
    {{form_end(userform)}}

{% endblock %}
